@charset "UTF-8";
@mixin flex ($direction:row,$wrap:nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

全局过度动画
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
.box{
  background-color: #fff;
  box-shadow: 0 0 8px #ddd;
  padding: 20px;
  box-sizing: border-box;
}

